<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-5">
	<h1>welcome to<span class="glyphicon glyphicon-book"></span>
	<strong>Bookers</strong>  !!</h1>
	</div>
	<div class="col-md-5"></div>
</div>